<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Editar Asesor</h1>
	</div>

	<div class="panel-body">
		<%= render 'form', adviser: @adviser %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Mostrar', @adviser %> |
		<%= link_to 'Regrasar', advisers_path %>
	</div>
</div>
