<div class="jumbotron center">
	<h1>Bienvenido a mi aplicación</h1>
	<% if user_signed_in? %>
      #Hacer algo
    <% else %>
      <%= link_to "Registrate", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
</div>
