<div class="jumbotron center">
	<h1>¡¡Vamos a lograrlo!! Nuestra meta 11000000</h1>
	<% if user_signed_in? %>
      #Hacer algo
    <% else %>
      <%= link_to "Registrate", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
</div>

<div>
	<%= bar_chart({ "Julian Orozco" => 4500000, "Jessica Bermudez" => 5000000, "Juan Hernandez" => 2600000, "Angie Marin" =>6500000}, max: 11000000, download: true) %>
</div>
