<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Editar Arrendamiento</h1>
	</div>

	<div class="panel-body">
		<%= render 'form', lease: @lease %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Mostrar', @lease %> |
		<%= link_to 'Volver', leases_path %>
	</div>
</div>