<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Editar ping</h1>
	</div>

	<div class="panel-body">
		<%= render 'form', sale: @sale %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Mostrar', @sale %> |
		<%= link_to 'Regrasar', sales_path %>
	</div>
</div>
